* {
    padding: 0;
    margin: 100;
}

:root{
    /* Primary */
    --Nutmeg: hsl(14,45%, 36%);
    --Dark-Raspberry: hsl(332, 51%, 32%);

    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --Rose-White: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%,90%);
    --Light-Gray: hsl(30, 10%, 34%);
    --Wenge-Brown: hsl(22, 69%, 25%);
    --Dark-Charcoal: hsl(24, 5%, 18%);
}


.oranienbaum-regular {
    font-family: "Oranienbaum", serif;
    font-weight: 400;
    font-style: normal;
  }

.young-serif-regular {
font-family: "Young Serif", serif;
font-weight: 400;
font-style: normal;
}

.rest_header {
    color: var(--Wenge-Brown);
    font-size: 150%;
}



body{
    font-size: 16px;
    /* font-family: "Oranienbaum", serif; */
    font-weight: 200;    
    /* font-style: normal; */
    background-color: var(--Eggshell);
    color: var(--Light-Gray);
    line-height: 2.5em;
}

.main_container {
    background: var(--White);
    margin: 20%;
    padding: 4%;

}

img{
    width: 100%;
}

.simple_om_recip {
    color: var(--Dark-Charcoal);
    font-size: 150%;
}

.prep_time_head{
    color: var(--Dark-Raspberry);
    /* border: solid red; */
    padding-bottom: 0%;
}

.prep_time {
    padding: 5%;
}


.prep_list{
    padding-top: 0px;
    padding-left: 4%;
    /* border: solid red; */
}
.ingre_list {
    padding-left: 4%;
}

li {
    padding-left: 5%;
}



.intra_div {
    /* border: solid red; */
    padding-top: 5%;
}

.instra_list {
    color: var(--Wenge-Brown);
}


.lists_instra{
    list-style: decimal;
}


.first, .second{
    display: inline-block;
    list-style: none;

}

.nutri_list_color{
    color: var(--Wenge-Brown);
    padding-left: 500%;
    font-family: "Young Serif", serif;
}

li.lists_instra::marker{
    color: var(--Wenge-Brown);
    font-weight: bolder;
    font-family: "Young Serif", serif;
}



.attribution {
    font-size: 11px; text-align: center;
    padding-bottom: 8%;
}
.attribution a {
    color: hsl(276, 82%, 25%);
    font-family: "Young Serif", serif;
    font-weight: bolder;
    font-size: 120%;
    text-decoration: none;
}


@media (max-width: 840px) {
    body{
        font-size: 12px;
    }
    .nutri_list_color{
        padding-left: 100%;
    }

}


